* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0eefa;
    color: #5A595D;
}

button {
    background-color: #d5cff6;
    color: #5A595D;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FEECBC;
    color: #5A595D;
}

.button-secondary {
    background-color: #5A595D;
    color: white;
}

.button-secondary:hover {
    background-color: #FEECBC;
    color: #5A595D;
}